@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #181818;
  color: #cccccc;
}

.main-header {
  font-size: 3rem;
  text-align: center;
}

.signal-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: greenyellow;
  opacity: 1;

  &-error {
    background: red;
  }

  &-hidden {
    opacity: 0;
    transition: opacity 300ms ease;
  }
}
