@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #181818;
  color: #cccccc;
}

.main-header {
  font-size: 3rem;
  text-align: center;
}

.signal-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: greenyellow;
  opacity: 1;

  &-error {
    background: red;
  }

  &-hidden {
    opacity: 0;
    transition: opacity 300ms ease;
  }
}


.preloader {
  color: #777777;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid currentColor;
    border-radius: 50%;
    animation: preloader-anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes preloader-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
